/* вторичный цвет текста #212121*/ 
/* основной цвет текста #757575*/
/*акцент 2196F3*/
/* главный цвет фона #FFFFFF */
/* вторничный цвет фона #F5F4FA */

:root{
   --primary-text-color: #757575;
   --title-text-color: #212121;
   --accent-color:#2196F3;
   --main-background: #FFFFFF;
   --second-background: #F5F4FA;
   --logo-color:#000000;
   --footer-backgraund: #2F303A;
   --footer-color: #FFFFFF 60%;
   }
   
   html{
      box-sizing: border-box;
   }
   
   *::before, 
   *::after{
      box-sizing: inherit;
   }
   
   
   ul,
   ol {
       list-style: none;
       margin: 0;
       padding-left: 0;
   }

   p, 
   h1, 
   h2, 
   h3, 
   h4,
   h5,
   h6{
      margin: 0;
   }

   img{
      display: block;
   }

   .section-title.unimportland{
      position: absolute;
      white-space: nowrap;
      width: 1px;
      overflow: hidden;
      border: 0;
      padding: 0px;
      height: 0px;
      clip-path: inset(50%);
      margin: -1;
   }

   
   body{
      font-family:Roboto, sans-serif; 
      font-weight: 400;
       background: var(--second-background);
       color:  var(--primary-text-color)
      }
   
    /* логотип */
   
   .logo{
      padding-top: 24px;
      padding-bottom: 24px;
      margin-right: 93px;

       color: var(--logo-color);
       font-family: Raleway, cursive;
       letter-spacing: 0.03em;
       font-weight: 700;
       font-size: 26px;
       line-height: 1.19;
       text-decoration: none;
       letter-spacing: 0.02em;
   
   }
   
   .logo-blue {

       color: var(--accent-color);
       font-family: Raleway, cursive;
       letter-spacing: 0.03em;
       font-weight: 700;
       font-size: 26px;
       line-height: 1.19;
       text-decoration: none;
       letter-spacing: 0.02em;
       
   
   }

   .container{
      max-width: 1200px;
      width: 100%;
      margin: 0;
      margin-left: auto;
      margin-right: auto;
      padding-left: 15px;
      padding-right: 15px;


   }


   .section{
      padding-top: 94px;
      padding-bottom: 94px;
   }

   
   /* навигация хедера*/

   .page-header {
       /* display: flex;
      align-items: center;
      justify-content: space-between; */ 
      border: 1px solid #ECECEC;
      background-color: var(--main-background);
   }

   .site-nav ,
   .contact-nav{
      padding: 10px;
      display: flex;
   }
   
.header{
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}
.nav{
   display: flex;
   align-items: center;
   padding-left: 0px;
   align-items: baseline;
}

   .site-nav li,
   .contact-nav li{
      margin-right: 50px;
   
   }

   .site-nav li:last-child{
      margin-right: 0;
   }



.contact-nav li:last-child{
   margin-right: 0;
}


.site-nav .link{
   margin-right: 50px;

   color: var(--title-text-color);
   font-weight: 500;
   font-size: 14px;
   line-height: 1.14;
   letter-spacing: 0.02em;
   text-decoration: none;
} 

.site-nav .link:hover,
    .site-nav .link.current,
    .site-nav .link:focus {
       color: var(--accent-color);
    }

    .contact-nav .link{

     font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color:var(--primary-text-color);
      text-decoration: none;
   }
   
    .contact-nav .link:hover, 
    .contact-nav .link:focus{
       color: var(--accent-color);
   }
    
   
   /* наполнение */
   
   .hero{
      text-align: center;
      padding: 200px;
   }
   
   .hero-title {
      

      color: var(--main-background);
      font-weight: 900;
      font-size: 44px;
      line-height: 1.3;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
   }

   

   .feature-content{
      
      padding-left: 15px;
      width: 285px;
   
   }

   .feature-list{
      justify-content: space-between;
      display: flex;
   }


   .section-title.unimportland{
      padding-top: 0px;
      padding-bottom: 0px;
      color: var(--second-background);
      margin: -34px;
   }

   .section-title {
      padding-bottom: 50px;

      color: var(--title-text-color);
      font-weight: 700;
      font-size: 36px;
      line-height: 1.16;
      text-align: center;
      letter-spacing: 0.03em;
   }

   .work-list{
      display: flex;
      justify-content: space-between;
   }
   
   .feature-list .title {
      color: var(--title-text-color);
      font-weight: 700;
     font-size: 14px;
     line-height: 1.14;
     letter-spacing: 0.03em;
     text-transform: uppercase;
   }
   
   .feature-list .text{

      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      line-height: 24px;
      color: var(--primary-text-color);
    }
   
    .second-title{
      margin-top: 30px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;


      font-weight: 500;
      font-size: 16px;
      line-height: 1.18;
      color:var(--title-text-color);
      letter-spacing: 0.03em;
   }
   
   /* кнопка */
/* 
.button.button-secondary:focus
.button.button-secondary:hover{
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */

   .button, .button-secondary{
      cursor: pointer;
   }
   
    .button {
     
      margin-top: 30px;

      font-family: inherit;
      color:  var(--main-background);
      background-color: var(--accent-color);
      font-weight: 700;
      font-size: 16px;
      line-height: 1.8;
    }
    
    
   button:hover, 
   button:focus{ 
       color: var(--logo-color);
   
   }
    /* страница портфолио */
   
   .button-secondary{
      font-family: inherit;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.6;
      letter-spacing: 0.03em;
      background: var(--second-background);
      border-radius: 4px;
      color: var(--title-text-color);
   }
   
   .button-secondary:hover,
   .button-secondary:focus{
      color: var(--main-background);
      background-color: var(--accent-color);
   }
   
   .btn-sec{
      margin-bottom: 50px;
      display: flex;
      justify-content: center;
   }
    
   .set-btn{
      border-radius: 4px;
      margin-left: 8px;
   }

   .portf-p{
      color: var(--primary-text-color);
      font-size: 16px;
      line-height: 1.8;
      letter-spacing: 0.03em;
   }
   
   .works{
     margin-top: 20px;
     margin-bottom: 4px;

      font-weight: 700;
     font-size: 18px;
     line-height: 2;
     letter-spacing: 0.06em;
     color: var(--title-text-color);
     letter-spacing: 0.06em;
   }
.hover:hover,
.hover:focus{
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}

   .work-set{

      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      
   }


   .our-team{
      display: flex;
      justify-content: space-between;
   }
    
   .our-team-work{
     padding-bottom: 30px;
      display: flex;
      justify-content: center;
   }
   
   .our-team-gen{

      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
     border-radius: 0px 0px 4px 4px;

      background-color:var(--main-background);
   }

   .bord{

      padding-bottom: 20px;
      padding-left: 24px;
      padding-right: 24px;
      border-color: var(--primary-text-color);
      border-top: solid 1px #EEEEEE;
      border-bottom:solid 1px #EEEEEE;
      border-left: solid 1px #EEEEEE;
      border-right: solid 1px #EEEEEE;

   }

   
   /* футер */
   
   .footer{
      display: flex;
      background-color: var(--footer-backgraund);
      padding-top: 60px;
      padding-bottom: 60px;
   }
   
   .logo-foot{


      color: var(--logo-color);
       font-family: Raleway, cursive;
       letter-spacing: 0.03em;
       font-weight: 700;
       font-size: 26px;
       line-height: 1.19;
       text-decoration: none;
       letter-spacing: 0.02em;
   }
   
   .logo-write{
      
      color: var(--main-background);
       font-family: Raleway, cursive;
       letter-spacing: 0.03em;
       font-weight: 700;
       font-size: 26px;
       line-height: 1.19;
       text-decoration: none;
   
   }
   
   .location{
      display: flex;
        margin-top: 20px;
         text-decoration: none;
         color: var(--main-background);
         font-style: normal;
   
      }
   
      .location:hover,
      .location:focus{
         color: var(--accent-color);
      }
   

      .addres{
         /* max-width: 215px;
         width: 100%; */
         justify-content: flex-start;
      }

    .addres .link{ 
      display: flex;
      margin-top: 9px;
      font-style: normal;
      color: var(--footer-color);
      text-decoration: none;
      font-size: 14px;
      line-height: 2;
      }
   
    .addres .link:hover, 
    .addres .link:focus{
         color: var(--accent-color);
      }

   